<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tpapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".s2.GridLayoutTest"
            android:label="@string/title_activity_grid_layout_test" >
        </activity>
        <activity
            android:name=".s2.CheckButtonTest"
            android:label="@string/title_activity_check_button_test" >
        </activity>
        <activity
            android:name=".s2.ToggleButtonTest"
            android:label="@string/title_activity_toggle_button_test" >
        </activity>
        <activity
            android:name=".s2.ClockTest"
            android:label="@string/title_activity_clock_test" >
        </activity>
        <activity
            android:name=".s2.ChronometerTest"
            android:label="@string/title_activity_chronometer_test" >
        </activity>
        <activity
            android:name=".s2.ImageViewTest"
            android:label="@string/title_activity_image_view" >
        </activity>
        <activity
            android:name=".s2.SimpleListViewTest"
            android:label="@string/title_activity_simple_list_view_test" >
        </activity>
        <activity
            android:name=".s2.ArrayAdapterTest"
            android:label="@string/title_activity_array_adapter_test" >
        </activity>
        <activity
            android:name=".s2.ExpandableListViewTest"
            android:label="@string/title_activity_expandable_list_view_test" >
        </activity>
        <activity
            android:name=".s2.SearchViewTest"
            android:label="@string/title_activity_search_view_test" >
        </activity>
        <activity
            android:name=".s2.AlertDialogTest"
            android:label="@string/title_activity_alert_dialog_test" >

            <!-- android:theme="@android:style/Theme.Dialog" -->
        </activity>
        <activity
            android:name=".s2.DateDialogTest"
            android:label="@string/title_activity_date_dialog_test" >
        </activity>
        <activity
            android:name=".s2.MenuTest"
            android:label="@string/title_activity_menu_test" >
        </activity>
        <activity
            android:name=".s2.ContextMenuTest"
            android:label="@string/title_activity_context_menu_test" >
        </activity>
        <activity
            android:name=".s2.ActionBar_TabNav"
            android:label="@string/title_activity_action_bar__tab_nav" >
        </activity>
        <activity
            android:name=".s2.PreferenceActivityTest"
            android:exported="true"
            android:label="@string/title_activity_preference_activity_test" >
        </activity>
        <activity
            android:name=".s4.SelectBookActivity"
            android:label="@string/title_activity_select_book" >
        </activity>
        <activity
            android:name=".s7.MatrixTest"
            android:label="@string/title_activity_matrix_test" >
        </activity>
        <activity
            android:name=".s7.MeshTest"
            android:label="@string/title_activity_mesh_test" >
        </activity>
        <activity
            android:name=".s7.ShaderTest"
            android:label="@string/title_activity_shader_test" >
        </activity>
        <activity
            android:name=".s7.FatPo"
            android:label="@string/title_activity_fat_po" >
        </activity>
        <activity
            android:name=".s7.Blast"
            android:label="@string/title_activity_blast" >
        </activity>
        <activity
            android:name=".s7.Butterfly"
            android:label="@string/title_activity_butterfly" >
        </activity>
        <activity
            android:name=".s7.AnimatorTest"
            android:label="@string/title_animator_test" >
        </activity>
        <activity
            android:name=".s7.SurfaceViewTest"
            android:label="@string/title_activity_surface_view_test" >
        </activity>
        <activity
            android:name=".s7.ShowWave"
            android:label="@string/title_activity_show_wave" >
        </activity>
        <activity
            android:name=".s8.SharedPreferencesTest"
            android:label="@string/title_activity_shared_preferences_test" >
        </activity>
        <activity
            android:name=".s8.FileTest"
            android:label="@string/title_activity_file_test" >
        </activity>
        <activity
            android:name=".s8.DBTest"
            android:label="@string/title_activity_dbtest" >
        </activity>
        <activity
            android:name=".s8.Dict"
            android:label="@string/title_activity_dict" >
        </activity>
        <activity
            android:name="com.example.tpapp.s8.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
    </application>

</manifest>